{% extends 'base.html.twig' %}

{% block Body %}
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sobre Nosotros</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li> Nosotros </li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Somos un equipo interdisciplinario de profesionales dedicados al asesoramiento y planificación contable, laboral y tributaria.
            </p>
            <p>  
              Nuestro objetivo consiste en brindar servicios de calidad personalizados basados en la permanente actualización de la normativa regulatoria de cada actividad.
            </p>
            <p>  
              Sabemos la trascendencia que estos temas tienen para nuestros clientes y por ello estamos presentes en todas las etapas de sus proyectos.
            </p>
            <p> 
              Nos esforzamos día a día para afianzar la confianza depositada en nuestro equipo, resaltando nuestros valores:
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> Compromiso</li>
              <li><i class="bi bi-check2-circle"></i> Responsabilidad</li>
              <li><i class="bi bi-check2-circle"></i> Profesionalismo</li>
              <li><i class="bi bi-check2-circle"></i>Ética y Transparencia</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
s
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Nuestra Misión</a></h5>
                <p class="card-text">Trabajar aportando todos nuestros conocimientos y experiencia para que nuestros clientes sientan profesionalismo, confianza y tranquilidad en sus proyectos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/service-details-4.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Visión</a></h5>
                <p class="card-text">Ser líderes en la satisfacción de las necesidades de nuestros clientes, respondiendo sus consultas de manera clara y rápida, resolviendo sus problemas y brindándoles servicios profesionales de excelente calidad.</p>
              </div>
            </div>

          </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->
{% endblock %}