{% extends 'base.html.twig' %}

{% block Body %}
      <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          
          <h2>Nuestros Servicios</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li> Servicios</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Services Section ======= -->
    <section class="pricing section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <p>Una buena atención al cliente para nosotros es primordial. </br> La atención de sus problemas es prioridad y el cumplimiento de dicho objetivo es responsabilidad de todo el estudio. <br/>Se planifican, arman y ejecutan planes de trabajo y procedimientos para resolver los problemas y satisfacer las necesidades de nuestros clientes.
          </p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box">
            <h4 class="bx bx-file"/>
            <h3>Impositivo</h3>
            <ul>
              <li><i class="bx bx-check"></i> Liquidaciones de impuestos nacionales, provinciales y municipales.</li>
              <li><i class="bx bx-check"></i> Asesoramiento a Monotributistas: Inscripción | Recategorización  | Modificación de Datos | Bajas </li>
              <li><i class="bx bx-check"></i> Confección de DDJJ informativas y determinativas de impuestos.</li>
              <li><i class="bx bx-check"></i> Inscripciones y bajas tributarias.</li>
              <li><i class="bx bx-check"></i> Regularización de deudas y tramitación de exenciones.</li>
            </ul>
          </div>

          <div class="col-lg-4 box">
            <h4 class="bx bxs-user-account"/>
            <h3>Laboral</h3>
            <ul>
              <li><i class="bx bx-check"></i> Liquidación de sueldos y cargas sociales/sindicales.</li>
              <li><i class="bx bx-check"></i> Armado de legajos del personal: altas y bajas.</li>
              <li><i class="bx bx-check"></i> Asesoramiento sobre Convenios Colectivos de Trabajo.</li>
              <li><i class="bx bx-check"></i> Confección de DDJJ previsionales, laborales, indemnizaciones laborales, telegramas.</li>
              <li><i class="bx bx-check"></i> Asistencia en la atención de inspecciones y requerimientos.</li>
            </ul>
          </div>

          <div class="col-lg-4 box">
            <h4 class="bx bxs-calculator"/>
            <h3>Contable</h3>
            <ul>
              <li><i class="bx bx-check"></i> Preparación de Estados Contables, Anexos y Notas complementarias.</li>
              <li><i class="bx bx-check"></i> Auditoría de Estados Contables.</li>
              <li><i class="bx bx-check"></i> Certificaciones e informes contables: de Ingresos | de Ventas | de Origen de Fondos (Bs de Uso o Inmuebles) | de Ingresos y Egresos | para Fines Fiscales </li>
              <li><i class="bx bx-check"></i> Confección de informes internos para la toma de decisiones.</li>
              <li><i class="bx bx-check"></i> Planificación y diseño del sistema contable. </li>
            </ul>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">
        <div class="col-lg-100 box">
              <div class="text-center" background: #68A4C4><a href="{{ url('contact')}}">CONTÁCTENOS</a></div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->
  
{% endblock %}