{% extends 'admin/base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">volver al listado</a>
{% endblock %}
