<form method="post" action="{{ path('admin_entrada_delete', {'id': entrada.id}) }}" onsubmit="return confirm('¿Está seguro que quiere eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrada.id) }}">
    <button class="btn btn-outline-danger">Eliminar</button>
</form>
