{% extends 'admin/base.html.twig' %}

{% block title %}Nueva Entrada{% endblock %}

{% block body %}

     <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Crear: Entrada</h3>
              </div>
              <!-- /.card-header -->
              {{ include('admin/entrada/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
            <!-- /.card -->
    <a href="{{ path('admin_entrada_index') }}" class= "btn btn-primary">volver al listado</a>
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

{% endblock %}
