<form method="post" action="{{ path('admin_etiqueta_delete', {'id': etiqueta.id}) }}" onsubmit="return confirm('¿Está seguro que quiere eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etiqueta.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
