{% extends 'admin/base.html.twig' %}

{% block title %}New Etiqueta{% endblock %}

{% block body %}
    <h1>Crear nueva Etiqueta</h1>

    {{ include('admin/etiqueta/_form.html.twig') }}

    <a href="{{ path('admin_etiqueta_index') }}">volver al listado</a>
{% endblock %}
