<table>
    <tr>
        <td>Nombre:</td>
        <td>{{ contact.nombre }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Teléfono:</td>
        <td>{{ contact.telefono }}</td>
    </tr>
    <tr>
        <td>Mensaje:</td>
        <td>{{ contact.mensaje }}</td>
    </tr>
</table>