{% extends 'admin/base.html.twig' %}

{% block title %}Nuevo Rol{% endblock %}

{% block body %}
    <h1>Crear nuevo Rol</h1>

    {{ include('admin/role/_form.html.twig') }}

    <a href="{{ path('admin_role_index') }}">volver al listado</a>
{% endblock %}
