<form method="post" action="{{ path('admin_categoria_delete', {'id': categoria.id}) }}" onsubmit="return confirm('¿Está seguro que quiere eliminar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
