{% extends 'admin/base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block body %}
    <h1>Crear nueva Categoría</h1>

    {{ include('admin/categoria/_form.html.twig') }}

    <a href="{{ path('admin_categoria_index') }}">volver al listado</a>
{% endblock %}
